Desafios/Desafio2/node_modules
Desafios/Desafio3/node_modules
Desafios/Desafio4/node_modules
Desafios/Desafio5/node_modules
Desafios/Desafio6/node_modules
Desafios/Desafio7/node_modules
Desafios/Desafio8/node_modules
Desafios/Desafio9/node_modules
Desafios/Desafio10/node_modules
Desafios/Desafio11/node_modules
Desafios/Desafio12/node_modules
Desafios/Desafio13/node_modules
Desafios/Desafio14/node_modules
Desafios/Desafio15/node_modules
Desafios/Desafio16/node_modules
Desafios/Desafio17/node_modules
Desafios/Desafio18/node_modules
Desafios/Desafio19/node_modules
Desafios/Desafio20/node_modules
Desafios/Desafio21/node_modules
Desafios/Desafio22/node_modules
Desafios/Desafio23/node_modules
Desafios/Desafio23 - Final/node_modules
Desafios/Desafio24/node_modules
Desafios/Desafio25/node_modules
Desafios/Desafio27/node_modules
Desafios/Desafio26/node_modules
Desafios/Desafio28/node_modules
Desafios/Desafio29/node_modules
Desafios/Desafio9/Desafio9.rar
